.pag {
    display: flex;
}

.basket .pag a {
    color: #000000;
    text-decoration: underline;
    margin-right: 20px;

}

.basket {
    margin-top: 40px;
}

.nice-select span {
    font-size: 16px;
    justify-content: start !important
}

header .basket {
    margin-top: 0;
}

.basket h2,
.order h2 {
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 30px;
}

table th {
    background: #eeeded;
    font-weight: normal;
}

table {
    border-bottom: 4px solid #eeeded;
}

table th {
    border: none !important;
}

.table td {
    border: none;
}

.table td:nth-child(1) {
    padding: 0
}

table .item {
    display: flex;
    padding: 0;
    margin: 10px;
}

table .item img {
    width: 60px;
    height: 70px;
    object-fit: scale-down;
}

.item .des {
    margin-left: 20px;
}

.item .des a {
    color: #000000;
    text-decoration: underline;
}

.bask .cena p,
.bask .summ p {
    margin: 0;
    color: #aaaaa7;
}

.bask .des {
    margin: 0;
}

table .cena h3,
table .summ h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
}

table .cena,
table .summ {
    align-items: flex-end
}

.count button {
    background: #e6ebec;
    font-weight: bold;
    font-size: 26px;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.count button:nth-child(1) {
    border-radius: 10px 0 0 10px;
    margin-right: -5px;
}

.count span {
    background: #ffffff;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    border: 1px solid #c2c9cb;
    padding: 0 10px;
    border-radius: 10px;
    z-index: 100;
}

.count button:nth-child(3) {
    border-radius: 0 10px 10px 0;
    margin-left: -5px;
}

.bask .count {
    margin-top: 20px;
}

.catalog_items .item .des {
    margin-left: 0;
}

table .cena,
.count,
table .summ,
.close {
    display: flex;

}

.close button {
    margin-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.order input::placeholder {
    color: #000000
}


.item .content {
    padding: 20px;
    border: 4px solid #ffffff;
    border-radius: 10px;
    height: 100%;
}

.dropdown-el {
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    min-width: 12em;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
    cursor: pointer;
    text-align: left;
    color: #000000;
    outline: none;
    border-radius: 30px;
    border: 1px solid #e6ebec;
    transition: 0.3s all ease-in-out;
}

.dropdown-el input {
    display: none;

}

.dropdown-el label {
    margin: 0;
    border-top: 0.06em solid #d9d9d9;
    display: none;
    cursor: pointer;
    position: relative;
    transition: 0.3s color ease-in-out;
}

.dropdown-el label:nth-child(2) {

    margin-top: 2em;
    border-top: 0.06em solid #d9d9d9;
}

.dropdown-el input:checked+label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
}

.dropdown-el input:checked+label:nth-child(2) {
    margin-top: 0;
    position: relative;
}

.dropdown-el::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: 0.3em solid #d9d9d9;
    border-color: #d9d9d9 transparent transparent transparent;
    transition: 0.4s all ease-in-out;
}

.dropdown-el.expanded {
    background: #fff;
    border-radius: 0.25em;
    max-height: 15em;
}

.dropdown-el.expanded label {
    padding: 5px 0;
    border-top: 0.06em solid #d9d9d9;
    display: block;
}

.dropdown-el.expanded::after {
    transform: rotate(-180deg);
    top: 0.55em;
}

.bask .item img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.bask .item .close img {
    height: 20px;
    width: 20px;
}

.nice-select {
    border: 1px solid #c9cacb;
    border-radius: 30px;
}

.nice-select:hover {
    border: 1px solid #c9cacb;
}



.content input {
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #c9cacb;
    border-radius: 30px;
}

.order .item .chek input {
    display: none;
}

.order {
    padding-top: 40px;
    background: #efeeee
}

.item {
    margin: 30px 0
}

.item h3 {
    font-size: 20px;
}

.item:nth-child(4) .content {
    justify-content: start !important;
}

.item .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order .item .chek label {
    position: relative;
    color: #000000;
    padding-left: 30px;
}

.order .item .chek label a {
    color: #000000;
    text-decoration: underline;
}

.order .item .chek label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    content: "";
    border-radius: 5px;
    border: 2px solid #b8b8b9;
}

.order .item .chek input:checked+label::before {
    content: "\2713";
    display: flex;
    justify-content: center;
    align-items: center;
}

.item span {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item span h3 {
    padding: 0 2px;
    margin: 0;
    font-weight: bold;
}

.bask .item span {
    display: inline-block;
}

.bask .item h3 {
    display: inline-block;
    font-weight: bold;
    margin: 10px;
    font-size: 26px;
}

.item .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item .buttons button {
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 10px 0;
    width: 80%;
    font-weight: 600;
}

.item .chek {
    margin-top: 20px;
}

.item .buttons button:nth-child(1) {
    background: #ffc501;
}

@media(max-width: 576px) {
    .count span {
        font-weight: normal;
    }

    .item .buttons button {
        width: 100%;
    }
}