.menu:nth-child(4) {
    background: #efeeee
}

.menu input[type="checkbox"] {
    display: none;
}

.menu .item input[type="checkbox"]+label {
    position: relative;
    cursor: pointer;
    width: 140px;
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 30px;
}

.all {
    display: flex;
    align-items: center;
}

.navig {
    margin: 30px 0
}

.navig ul li {
    margin: 0 5px;

}

.navig ul li a {
    color: #000000;
    padding: 5px 8px;
    border-radius: 5px;
}

.navig ul li i {
    color: #cacaca;
}

.navig ul .active a {
    background: #313131;
    color: #ffffff
}

.pag {
    display: flex;
}

.catalog_items .item {
    margin: 10px 0 !important;
}

.catalog_items .menu .item {
    margin: 20px 0;
}

.all p {
    margin-right: 10px;
    margin-bottom: 0;
}

.pag a img {
    padding-left: 20px;
}

.pag a {
    color: #000000;
    text-decoration: underline;
    margin-right: 20px;

}


.menu h2 {
    display: flex;

}

.menu .item h2 img {
    height: 20px !important;
    width: 20px !important;
    margin: 0;
    margin-left: 20px;
}

.rs-pointer {
    background: url('../img/slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    height: 40px !important;
    width: 20px !important;
}

.dropdown-el {
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    min-width: 12em;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: #efeeee;
    cursor: pointer;
    text-align: left;
    color: #000000;
    outline: none;
    border-radius: 30px;
    border: 1px solid #e6ebec;
    transition: 0.3s all ease-in-out;
}

.dropdown-el input {
    display: none;

}

.nice-select .option {
    background: #f0efef;
    display: flex;
    justify-content: center;
}

.nice-select {
    background: #f0efef;
    border-radius: 30px;
    border: none
}

.dropdown-el label {
    margin: 0;
    border-top: 0.06em solid #d9d9d9;
    display: none;
    cursor: pointer;
    position: relative;
    transition: 0.3s color ease-in-out;
}

.dropdown-el label:nth-child(2) {

    margin-top: 2em;
    border-top: 0.06em solid #d9d9d9;
}

.dropdown-el input:checked+label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
}

.dropdown-el input:checked+label:nth-child(2) {
    margin-top: 0;
    position: relative;
}

.dropdown-el::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: 0.3em solid #d9d9d9;
    border-color: #d9d9d9 transparent transparent transparent;
    transition: 0.4s all ease-in-out;
}

.dropdown-el.expanded {
    background: #fff;
    border-radius: 0.25em;
    max-height: 15em;
}

.dropdown-el.expanded label {
    padding: 5px 0;
    border-top: 0.06em solid #d9d9d9;
    display: block;
}

.dropdown-el.expanded::after {
    transform: rotate(-180deg);
    top: 0.55em;
}

.menu .item input[type="checkbox"]+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #c9cacb;
    background: #ffffff;
}

.catalog_items .title+button {
    margin: 0 17px;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    font-size: 20px
}

.catalog_items .title+button img {
    margin-left: 10px;
    height: 10px;
    width: 15px;
}

#filter {
    transition: none;
}

.rs-container .rs-scale span ins {
    display: none;
}


#cont_3,
#cont_4,
#cont_5 {
    display: none;
}

#up3,
#up4,
#up5 {
    transform: rotate(-180deg);
}

.cont {
    transition: none;
}

.menu:nth-child(3) {
    background: #efeeee;
}

.menu input[type="checkbox"]:checked+label::before {
    content: "\2713";
    display: flex;
    justify-content: center;
    align-items: center
}

.menu input[type="text"] {
    border: 1px solid #c9cacb;
    border-radius: 5px;
}

.menu .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.rs-tooltip {
    display: none;
}

.rs-container .rs-bg {
    background: #cacaca;
}

.rs-container .rs-selected {
    background: #ffc501;
    border-color: #ffc501;
}

.menu .item img {
    margin-top: 20px;
    max-width: none !important;
    width: 100% !important;
    height: 35px !important;
}


.menu .item input[type="text"] {
    width: 100%;
}

.menu .item .line {
    display: flex;
}

.menu .item {
    border-bottom: 1px solid #ced0d4;
}

.menu .item .line P {
    width: 10px;
    margin: 0 15px;
}

.menu .item .inputs {
    display: flex;
}

.menu .item:nth-last-child(1) {
    border: none;
}

.menu .buttons button {
    background: #313131;
    color: #ffffff;
    border: none;
    font-weight: bold;
    padding: 10px 100px;
    border-radius: 30px;
}

.menu .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.menu .buttons a {
    color: #000000;
    text-decoration: underline;
}